/* testing some stuff */

/*
CSS RESETS:
 Border box reset:
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 62.5% Fix: https: //www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
*/


 /*/////////////////////////////////////////////////////////////////*/

 @keyframes stretching {
    0% {
      width: 10px;
      background-color: rgb(30, 255, 176);
    }
    100% {
      width: 1480px;
      background-color: hotpink; 
    }
  }
  
  
  .button {
    display: inline-block; 
    background-color: blue; 
    color: white;
    padding: 10px 20px;

  
    animation: stretching 3s ease-in-out infinite alternate;
    transform: translate(12px, 50%);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }
  
  